<?xml version="1.0" encoding="utf-8"?>

<!--
/******************************************************************************* 
 * psumaps – An open source Android application which is helpful to portland state univeristy students to navigate 
 * and get to know the campus buildings history. Users can also check out the floor plans of each building in order
 * to navigate.
 *
 * Copyright (C) 2014 Sai Swathi Pujari
 *
 * This program is free software: you can redistribute it and/or modify it under 
 * the terms of the GNU General Public License as published by the Free Software Foundation, 
 * either version 3 of the License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; 
 * without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. 
 * See the GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License along with this program. 
 * If not, see http://www.gnu.org/licenses/.
 *
 * Following is the link for the repository: https://github.com/saiswathi/psumaps
 *
 * Please, see the file license in this distribution for license terms. Link is
 * https://github.com/saiswathi/psumaps/blob/master/LICENSE
 *
 * References:
 * https://developers.google.com/maps/documentation/android/start#getting_the_google_maps_android_api_v2
 * https://developers.google.com/maps/documentation/android/
 * http://stackoverflow.com/questions/9605913/how-to-parse-json-in-android
 *
 * Author - Sai Swathi Pujari
 * email: spujari@pdx.edu
 *
 *  ******************************************************************************************/

-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.psumaps"
    android:versionCode="1"
    android:versionName="1.0" >

    
    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="20" />
    
    <permission
        android:name="com.example.psumaps.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    
    <uses-permission android:name="com.example.psumaps.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
	

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <uses-library android:name="com.google.android.maps" />
        
        <activity
            android:name="com.example.psumaps.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.psumaps.BList"
            android:windowSoftInputMode="stateHidden">
        </activity>
                    
        <activity android:name="com.example.psumaps.BMap"
            	  android:label="@string/title_activity_image_view__main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="com.example.psumaps.MapView" android:label="@string/app_name">
      	
      		<intent-filter>
        		<action android:name="android.intent.action.MAIN" />
        		<category android:name="android.intent.category.LAUNCHER" />
      		</intent-filter>
      
      	</activity>
      	
        <activity android:name="com.example.psumaps.Bmaps">
        </activity>
      	
        
        <!-- GoogleMaps api key-->
  		 <meta-data
  		 android:name="com.google.android.maps.v2.API_KEY"
  		 android:value="AIzaSyDPofVMaB7orDA5XBBgZB2IW35dtw0s2Sg" />
        
        
    </application>
   

</manifest>
